#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.olas {
  background: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
}

table {
  border-collapse: separate;
  border-spacing: 2em 0.5em;
}

th {
  border: 1px solid crimson;
}
